Great success!
<ion-button expand="block" color="primary" core-site-plugins-new-content title="Return1"
            component="mod_facetoface" method="view_facetoface"
            [args]="{ courseid: '2', cmid: '2' }"
            getFromCache: 0, saveToCache: 0>
    Return

</ion-button>