{{=<% %>=}}
<core-course-module-description description="<%#str%> allsessionsin, mod_facetoface, <% facetoface.name %>  <%/str%>" component="mod_facetoface" componentId="<% cmid %>">
</core-course-module-description>
<%{ facetoface.intro }%>
2
<p class="item-heading">{{ "plugin.mod_facetoface.upcomingsessions" | translate }}</p>
<%^countlocations%>
    neki test za count locations

<%/countlocations%>
<%#customfields%>
<% name %>c
<%/customfields%>


