<!--{{=<% %>=}}-->

<b>asd</b>
<!--<ion-grid>-->
<!--    <ion-row>-->
<!--        <ion-col>-->
<!--            <%#tableheader%>-->
<!--            <ion-row>-->
<!--               <%.%>-->
<!--            </ion-row>-->
<!--            <%/tableheader%>-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--            <%#row.rows%>-->
<!--                    <%.%>-->
<!--            <%/row.rows%>-->
<!--        </ion-col>-->
<!--    </ion-row>-->
<!--</ion-grid>-->