{{=<% %>=}}
<core-course-module-description description="<%#str%> allsessionsin, mod_facetoface, <% facetoface.name %>  <%/str%>" component="mod_facetoface" componentId="<% cmid %>">
</core-course-module-description>
<%{ facetoface.intro }%>
2
<p class="item-heading">{{ "plugin.mod_facetoface.upcomingsessions" | translate }}</p>
<%^countlocations%>
    neki test za count locations

<%/countlocations%>

<ion-header [translucent]="true">
    <ion-toolbar color="primary">
            <ion-row>
                <%#tableheader%>
                <ion-col><%.%></ion-col>
                <%/tableheader%>
            </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
    <ion-grid class="ion-margin">

        <%#row%>
        <ion-row>
            <%#.%> <ion-col><%.%></ion-col><%/.%>
        </ion-row>
        <%/row%>
    </ion-grid>

    <ion-item lines="none">
        <ion-button color="primary" size="small" slot="end" routerLink="/material">
            Material Design Table
        </ion-button>
    </ion-item>
</ion-content>
