{{=<% %>=}}

<ion-header [translucent] = 'true'>
    <ion-toolbar color="primary">
        <ion-title>
            Informacije o sesiji
        </ion-title>
    </ion-toolbar>
</ion-header>
    <ion-grid class="ion-margin">
        <%#table%>
        <%#.%>
            <ion-row>
                <ion-col>
                    <%{header}%>
                </ion-col>
                <ion-col>
                    <%{value}%>
                </ion-col>
            </ion-row>
        <%/.%>
        <%/table%>
    </ion-grid>
<form>
<ion-item>
    <ion-label position="floating">Please confirm that this is your manager's email address:</ion-label>
    <ion-input type="email" required class="ion-invalid" [(ngModel)]="manager" name="manager" id="manager"></ion-input>
    <ion-text color="danger">
        <small>Manager's email</small>
    </ion-text>
</ion-item>

<ion-item>
    <ion-label>Notification type</ion-label>
    <ion-select [(ngModel)]="notification" name="notification" id="notification">
        <ion-select-option value="2" selected>Email Notification only</ion-select-option>
        <ion-select-option value="3">Email Notification and iCalendar Appointment</ion-select-option>
        <ion-select-option value="1">iCalendar Appointment only</ion-select-option>
    </ion-select>
</ion-item>
    <ion-item>
        <ion-label><ion-button expand="block" color="light" core-site-plugins-new-content title="Signup"
                               component="mod_facetoface" method="signupConfirm"
                               [args]="{manager: this.manager, notification: this.notification, s: <% s %>, c: <% c %>, r: <% r %>}"
                                id="submitBtn">
            Signup
        </ion-button></ion-label>
    </ion-item>
</form>
