<ion-card>Prijava uspješna
<br>
    <ion-item>
        <ion-button expand="block" color="primary"
                               component="mod_facetoface" method="view_facetoface"
                               [args]=""
                             >
            Signup
        </ion-button>
    </ion-item>
</ion-card>
