{{=<% %>=}}

<ion-card>Prijava uspješna
    <ion-item>
        <ion-button expand="block" color="primary" core-site-plugins-new-content title="Return"
                               component="mod_facetoface" method="view_facetoface"
                               [args]="{ courseid: '2', cmid: '2' }">
            Signup
            <% c %>
            <% r %>
            <% s %>
        </ion-button>


    </ion-item>
</ion-card>
