{{=<% %>=}}
<ion-card>
    <ion-card-header>
        <ion-card-title>Uspješna prijava</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <%#test%>
        asd
        <%/test%>
        <%s%>
    </ion-card-content>
</ion-card>